<section id="portfolio-section" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Portfolio</h2>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <!-- PORTFOLIO INTRO TEXT -->
                <div class="text-center">
                    <!-- <p class="lead wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                        Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus augue augue.
                    </p> -->
                </div>
                <!-- PORTFOLIO NAV -->
                <ul class="portfolio-filters list-inline">
                    <li class="filter active" data-filter="all">All</li>
                    <li class="filter" data-filter="webdesign">Web Design</li>
                    <li class="filter" data-filter="responsive">Web App</li>
                    <li class="filter" data-filter="wordpress">Mobile App</li>
                    <li class="filter" data-filter="bootstrap">Branding</li>
                </ul>
            </div>
            <div class="col-md-12">
                <!-- PORTFOLIO GRID -->
                <div id="grid" class="row text-center">
                    <div class="col-sm-4 mix webdesign">
                        <a class="lightbox" title="Project Title" href="/assets/img/angu.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/angu.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                    <div class="col-sm-4 mix wordpress bootstrap">
                        <a class="lightbox" title="Project Title" href="/assets/img/gokuls.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/gokuls.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                    <div class="col-sm-4 mix webdesign responsive">
                        <a class="lightbox" title="Project Title" href="/assets/img/iics.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/iics.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                    <div class="col-sm-4 mix responsive bootstrap">
                        <a class="lightbox" title="Project Title" href="/assets/img/mohan.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/mohan.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                    <div class="col-sm-4 mix wordpress webdesign">
                        <a class="lightbox" title="Project Title" href="/assets/img/kgconstrution.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/kgconstrution.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                    <div class="col-sm-4 mix responsive bootstrap">
                        <a class="lightbox" title="Project Title" href="/assets/img/hotel.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/hotel.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                    <div class="col-sm-4 mix webdesign wordpress">
                        <a class="lightbox" title="Project Title" href="/assets/img/insurance.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/insurance.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                    <div class="col-sm-4 mix wordpress webdesign">
                        <a class="lightbox" title="Project Title" href="/assets/img/jewel.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/jewel.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                    <div class="col-sm-4 mix responsive bootstrap">
                        <a class="lightbox" title="Project Title" href="/assets/img/sriero.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/sriero.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mix responsive bootstrap">
                        <a class="lightbox" title="Project Title" href="/assets/img/pinky.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/pinky.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mix responsive bootstrap">
                        <a class="lightbox" title="Project Title" href="/assets/img/sami.png">
                            <div class="item-img-wrap">
                                <img src="/assets/img/sami.png" class="img-responsive" alt="template">
                                <div class="item-img-overlay">
                                    <div>
                                        <i class="fa fa-eye"></i>
                                        <h5>Project Title<br><small>HTML / CSS / JS</small></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!-- /work col -->
                </div><!-- /row -->
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>
