<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-r">
                    <h2 style="padding-right: 600px;">Responsive web Designs</h2>
                </div>
            </div>
            <!-- 1 -->
            <div class="col-sm-6 col-md-4 text-center">
                <div class="item-img-wrap">
                    <img src="/assets/img/webpage.gif" class="img-responsive" alt="Responsive Webpage Design">
                    <div class="item-img-overlay">

                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block pt20"></div>
            </div>
            <div class="col-sm-6 col-md-8">
                <p>Delivering web content to users has become a lot more difficult recently. Large screen displays, desktops, laptops, tablets and cell phones all have unique size and characteristics which are challenging to even the most capable web designer.</p>
                <p>The industry solution is called “responsive web design”, and it’s the only kind of website I make. <b>Your site will look similar on any device</b>, delivering the information important to your business, so make sure you deliver what today’s demanding consumers are expecting.</p>
                <p>If you’re looking to remake your web presence, look no further. I deliver stunning results using the latest technology available. I claim the “World’s Best Web Designs” because that’s exactly what I deliver – the best websites in the world.</p>
                <p>When you’re ready, <a href="/contact-me/"><u>contact me</u></a>. I’ll write up a quote and <b>make something  you AND your users will love.</b></p>
            </div>
            <div class="col-md-12">

            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>