<header class="container-fluid intro-slider">
    <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div>
    <!-- HOME PROMO -->
    <section class="home-promo">
        <div class="text-center wow">
        </div>
    </section>
</header>