<body>
    @{Html.RenderAction("navbar", "Common");}
    @{Html.RenderAction("flexislider");}
    @{Html.RenderAction("tagLine");}
    @{Html.RenderAction("intro");}
    @{Html.RenderAction("sliderAd");}
    @{Html.RenderAction("recentProjects");}
    @{Html.RenderAction("principalServices");}
    @*{Html.RenderAction("ourClients");}*@
    @{Html.RenderAction("footer", "Common");}
    @{Html.RenderAction("scripts", "Common");}
</body>