<body>
    @{Html.RenderAction("Navbar", "Common");}
    @{Html.RenderAction("flexislider");}
    @{Html.RenderAction("TagLine");}
    @{Html.RenderAction("Intro");}
    @{Html.RenderAction("SliderAd");}
    @{Html.RenderAction("RecentProjects");}
    @{Html.RenderAction("PrincipalServices");}
    @*{Html.RenderAction("ourClients");}*@
    @{Html.RenderAction("Footer", "Common");}
    @{Html.RenderAction("Scripts", "Common");}
</body>