<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="intro-text mt30 wow fadeInUp">
                    <h3 class="intro-text mt30 wow fadeInUp">Welcome To the Best Web Designs in the World!</h3>
                </div>
            </div>
            <!-- VIDEO -->
            <div class="col-sm-12 col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <p><b>World's Best Web Designs is a custom software/website builder</b> using the latest technology and software design patterns to build commerical quality software. We build desktop applications, web applications and application programming interface (API) solutions using past experience to make custom code specifically for each customer's needs.</p>
                    <p>No job is too big or too small!</p>
                    
                </div>
                <div class="visible-xs-block visible-sm-block pt20"></div>
            </div>
            <!-- DESCRIPTION -->
            <div class="col-sm-12 col-md-4">
                <div class="blognews">
                    <a href="/about-us/" class="mb20">
                        <div class="item-img-wrap">
                            <img src="assets/img/abt.gif" class="img-responsive" alt="template" style="margin-top: -60px; margin-bottom: -40px;">
                            <div class="item-img-overlay">
                                <div class="about">
                                    <span class="btn btn-transparent-sm"><i class="fa fa-plus"></i> Read more</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>