<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Our Clients</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="slick-carousel" id="clients">
                    <div><a href="#"><img src="assets/img/logo.png" alt="Client"></a></div>
                    <div><a href="#"><img src="assets/img/logo1.png" alt="Client"></a></div>
                    <div><a href="#"><img src="assets/img/logo2.png" alt="Client"></a></div>
                    <div><a href="#"><img src="assets/img/logo3.png" alt="Client"></a></div>
                    <div><a href="#"><img src="assets/img/logo4.jpg" alt="Client"></a></div>
                    <div><a href="#"><img src="assets/img/logo5.png" alt="Client"></a></div>
                    <div><a href="#"><img src="assets/img/logo6.jpg" alt="Client"></a></div>
                    <div><a href="#"><img src="assets/img/logo7.jpg" alt="Client"></a></div>

                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>