<h3 class="intro-text mt30 wow fadeInUp" style="text-align: center;">Technological Specializations</h3>
<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 text-center home-icons">
                <i class="fa fa-line-chart wow fadeInUp" data-wow-delay="20ms"></i>
                <div>
                    <h4>Web Design</h4>
                    <h5>The Responsive Web design will give the pleasant look to the website which has beeb surf in the mobile view.</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center home-icons">
                <i class="fa fa-tablet wow fadeInUp" data-wow-delay="40ms"></i>
                <div>
                    <h4>Software Development</h4>
                    <h5>Software Applications built on latest techchnologies and frameworks which gives high level security for ae  successful business. </h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center home-icons">
                <i class="fa fa-code wow fadeInUp" data-wow-delay="60ms"></i>
                <div>
                    <h4>Mobile App Development</h4>
                    <h5>The smart way to give the real time solution to the clients through Native mobile App and Cross Platforms.</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center home-icons">
                <i class="fa fa-suitcase wow fadeInUp" data-wow-delay="80ms"></i>
                <div>
                    <h4>On Site Consulting</h4>
                    <h5>We grow your Business through programming audits and assessments. </h5>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>