<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-r">
                    <h3>RECENT PROJECTS</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="slick-carousel" id="news">
                    <!-- Post -->
                    <div>
                        <article class="blognews">
                            <a class="mt5 mb15" target="_blank" href="https://www.c21coasttocoast.com">
                                <div class="item-img-wrap"><img src="~/assets/img/c21coasttocoast.png" class="img-responsive" alt="template"></div>
                            </a>
                            <h4><a target="_blank" href="https://www.c21coasttocoast.com">CENTURY 21 Coast to Coast</a></h4>
                            <ul><strong>Description:</strong> Flagship real estate website using MLS data imports and SEO to market homes in the Tampa Bay area.</ul>

                            <ul></ul><strong>Technology:</strong>MVC,C#,jQuery,SQL</ul>

                        </article>
                    </div><!-- /item - post -->
                    <!-- Post -->
                    <div>
                        <article class="blognews">
                            <a class="mt5 mb15">
                                <div class="item-img-wrap">
                                    <img src="~/assets/img/tierraverdehomesandcondos.png" class="img-responsive" alt="template">

                                </div>
                            </a>
                            <h4>Tierra Verde Homes & Condos</h4>
                            <ul><strong>Description:</strong> Website for real estate in the Tierra Verde Area  </ul>

                            <ul></ul><strong>Technology:</strong>HTML5,CSS3,BOOTSTRAP,JQUERY</ul>


                        </article>
                    </div><!-- /item - post -->
                    <!-- Post -->
                    <div>
                        <article class="blognews">
                            <a class="mt5 mb15">
                                <div class="item-img-wrap">
                                    <img src="~/assets/img/connie-smith.png" class="img-responsive" alt="template">
                                </div>
                            </a>
                            <h4>Connie Smith Real Estate Broker</h4>
                            <ul><strong>Description:</strong>Real Estate Agent Website  </ul>

                            <ul><strong>Technology:</strong>HTML5,CSS3,C#</ul>

                        </article>
                    </div>
                </div><!-- /news carousel -->
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>
<br>