<div id="rs-cta" class="rs-cta primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInLeft">
                <div class="cta-content text-center">
                    <h3 title="Great Skill = Great Results" style="color: white;"><u>Production Proven Designs</u> = less errors, faster time-to-market<br />and <em>reduced development cost</em></h3>
                </div>
            </div>
        </div>
    </div>
</div>