<body>
    @{Html.RenderAction("Navbar", "Common");}
    @{Html.RenderAction("Breadcrumb");}
    @{Html.RenderAction("AboutUs");}
    @{Html.RenderAction("MoreAboutUs");}
    @{Html.RenderAction("Footer", "Common");}
    @{Html.RenderAction("Scripts", "Common");}
</body>