<section class="bg-white">
    <div class="container">
        <div class="row">
            <h4>Resumè for Neal Thomas <span style="color: RGB(255, 0, 0);">(Not currently Seeking Employment)</span></h4>
            <div class="col-md-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Skills</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Computer to Computer Interfacing (API)</li>
                                    <li>Object Oriented Programming</li>
                                    <li>C++</li>
                                    <li>C#</li>
                                    <li>MVC w/wo Entity Framework</li>
                                    <li>HTML5/jQuery/JavaScript/Responsive UI</li>
                                    <li>SQL & T-SQL Databases</li>
                                    <li>API Interfacing with Google/Facebook/YouTube</li>
                                    <li>SEO Best Practices</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Education</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <b>MIT Massachusetts Institute of Technology</b>
                                <ul>
                                    <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/">Electrical Engineering and Computer Science</a></li>
                                        <ul>
                                            <li>The following classes have been completed:</li>
                                            <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-005-software-construction-spring-2016/">6.005 Software Construction </a></li>
                                            <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-004-computation-structures-spring-2009/">6.004 Computation Structures </a></li>
                                            <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-046j-design-and-analysis-of-algorithms-spring-2015/">6.046J Design and Analysis of Algorithms</a></li>
                                            <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-042j-mathematics-for-computer-science-fall-2010/">6.042J Mathematics for Computer Science</a></li>
                                        </ul>
                                    <li><a href="https://ocw.mit.edu/courses/physics/">Physics</a>
                                        <ul>
                                            <li>This following classes have been completed:</li>
                                            <li><a href="https://ocw.mit.edu/courses/physics/8-012-physics-i-classical-mechanics-fall-2008/">8.012 Classical Mechanics</a></li>
                                            <li><a href="https://ocw.mit.edu/courses/physics/8-022-physics-ii-electricity-and-magnetism-fall-2004/">8.022 Physics II Electricity and Magnetism</a></li>
                                            <li><a href="https://ocw.mit.edu/courses/physics/8-033-relativity-fall-2006/">8.033 Relativity</a></li>
                                            <li><a href="https://ocw.mit.edu/courses/physics/8-321-quantum-theory-i-fall-2017/">8.321 Quantum Theory I</a></li>
                                            <li><a href="https://ocw.mit.edu/courses/physics/8-322-quantum-theory-ii-spring-2003/">8.322 Quantum Theory II</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Compensation</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>W2: $45.00/hr</li>
                                    <li>1080: 80K/Yr</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Current-2018</a></li>
                    <li><a data-toggle="tab" href="#menu1">2018-2008</a></li>
                    <li><a data-toggle="tab" href="#menu2">2008-2000</a></li>
                    <li><a data-toggle="tab" href="#menu3">2000-1997</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <p><b><a>Insurance Company - Confidential</a></b> - St. Petersburg, Fl</p>
                        <ul>
                            <li>MVC/C#/ASP.NET Core/SignalR/Angular</li>
                            <li>Commercial Insurance Intranet</li>
                        </ul>
                    </div>
                    <div id="menu1" class="tab-pane fade in active">
                        <p><b><a target="_blank" href="https://www.c21coasttocoast.com">CENTURY 21 Coast to Coast</a></b> - Clearwater, Fl</p>
                        <ul>
                            <li>Real Estate Marketing - Hardcore SEO</li>
                            <li>MVC/C#/C++/.NET OOP Commercial websites (7) </li>
                            <li>Back End: C++ Data Imports and API's</li>
                            <li>Front End: C#/MVC/HTML5/</li>
                            <li>UI: jQuery/Bootstrap/Responsive design</li>
                        </ul>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <p><b><a target="_blank" href="https://brokercheck.finra.org/firm/summary/39118">North American Clearing Corporation</a></b> - Longwood, Fl.</p>
                        <ul>
                            <li>Lead Developer Online Banking software</li>
                            <li>Lead Developer Equities Trading Software</li>
                            <li>Lead Developer Market Making/Program Trading software</li>
                            <li>Replaced leased software at substantial savings</li>
                            <li>100% C++ application using OOP ISAPI extensions/filters</li>
                        </ul>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <p><b><a target="_blank" href="https://brokercheck.finra.org/firm/summary/41437">Point Direx Securities, LLC</a></b> - Orlando, Fl.</p>
                        <ul>
                            <li>Software lead NASDAQ day trading system</li>
                            <li>C++ interface to New York processing 600+ quotes/sec</li>
                            <li>Went from 3 employees to 200+ with multiple floors</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>
<br />