<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="footer-widget col-sm-12 col-md-4">
                    <h3 title="Neal Thomas Website Developer">Our Site Developer</h3>
                    <p><a href="/about-us/">Neal Thomas</a> is Tampa Bay computer programmer with 20+ years experience in programming NASDAQ trading systems, large inventory websites and online banking systems.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i> Clearwater Beach, Fl</li>
                        <li class="number"><i class="fa fa-phone"></i> 727-336-2222</li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:mvc.programmer@gmail.com"></a>mvc.programmer@gmail.com</li>
                    </ul>
                    <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
                <div class="footer-widget col-sm-6 col-md-4">
                    <h3 title="Software Code Samples by Neal Thomas mvc.programmer@gmail.com">My Code Samples</h3>
                    <a href="/assets/img/01_WebsitesController.png" class="gallery" title="Polymorphic Website Controller Code Sample">
                        <img src="/assets/img/01_WebsitesController.png" alt="Polymorphic Website Controller Code Sample">
                    </a>
                    <a href="/assets/img/02_MatrixSearchController.png" class="gallery" title="Polymorphic Sql Search Controller Code Sample">
                        <img src="/assets/img/02_MatrixSearchController.png" alt="Polymorphic Sql Search Controller Code Sample">
                    </a>
                    <a href="/assets/img/03_SearchRequest.png" class="gallery" title="Send Database Search Request To Server">
                        <img src="/assets/img/03_SearchRequest.png" alt="Send Database Search Request To Server">
                    </a>
                    <a href="/assets/img/04_SearchResponse.png" class="gallery" title="Search Request Response">
                        <img src="/assets/img/04_SearchResponse.png" alt="Search Request Response">
                    </a>
                    <a href="/assets/img/05_HomePage.png" class="gallery" title="Website Controller">
                        <img src="/assets/img/05_HomePage.png" alt="Website Controller">
                    </a>
                    <a href="/assets/img/06_Database.png" class="gallery" title="Large Database">
                        <img src="~/assets/img/06_Database.png" alt="Large Database">
                    </a>
                    <a href="/assets/img/07_UML.png" class="gallery" title="Universal Modeling Language">
                        <img src="~/assets/img/07_UML.png" alt="Universal Modeling Language">
                    </a>
                    <a href="/assets/img/08_ImportCodeCPP.png" class="gallery" title="C++ Data Import">
                        <img src="~/assets/img/08_ImportCodeCPP.png" alt="C++ Data Import">
                    </a>
                    <a href="/assets/img/09_FacebookInterface.png" class="gallery" title="Facebook API Interface">
                        <img src="~/assets/img/09_FacebookInterface.png" alt="Facebook Interface">
                    </a>
                    <a href="/assets/img/10_YouTubeAPI.png" class="gallery" title="YouTube API Interface with JSON">
                        <img src="~/assets/img/10_YouTubeAPI.png" alt="Gallery thumbnail">
                    </a>
                    <a href="/assets/img/11_RealogyAPI.png" class="gallery" title="Realogy API Interface">
                        <img src="~/assets/img/11_RealogyAPI.png" alt="Realogy Interface">
                    </a>
                    <a href="~/assets/img/12_MatrixSystemSkillsetDiagram.png" class="gallery" title="Skillset Diagram">
                        <img src="~/assets/img/12_MatrixSystemSkillsetDiagram.png" alt="Skillset Diagram">
                    </a>
                    <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
                <div class="footer-widget col-sm-6 col-md-4">
                    <h3>Newsletter </h3>
                    <p> Get Late Breaking News </p>
                    <form method="get">
                        <div class="input-group newsletter">
                            <label class="sr-only" for="subscribe-email">Enter your email...</label>
                            <input type="email" class="form-control" id="subscribe-email" placeholder="Enter your email...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn"><i class="fa fa-paper-plane-o"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 social">
                    <ul class="list-inline social">
                        <li>
                            <a href="https://www.facebook.com/nealcthomas" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/neal-thomas-899336174/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCX088_1sqzGh65h_R2z1KUg" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/mvc.programmer/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 credits">
                    <p>&copy; @DateTime.Now.ToString("yyyy") WorldsBestWebDesigns.com - All Rights Reserved.</p>
                    <p class="small">
                        Proudly made in the <b>United States of America</b>&nbsp;&nbsp;<img src="~/assets/img/US-Flag.png" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
</footer>