<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-r">
                    <h2 style="padding-right: 600px;">About This Site</h2>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="item-img-wrap">
                    <img src="/assets/img/seopage.gif" class="img-responsive" alt="Photo of Neal Cameron Thomas" title="Tampa Bay Programmer Neal Thomas">
                    <div class="item-img-overlay">
                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block pt20"></div>
            </div>
            <div class="col-sm-6 col-md-9">
                <p>This site uses Microsoft Azure with .NET 4.0 & MVC 4.3</p>
                <p>Backend data is processed using Microsoft SQL Server</p>
            </div>
            <div class="col-md-12">
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>

