<body>
    @{Html.RenderAction("navbar", "Common");}
    @{Html.RenderAction("breadcrumb");}
    @{Html.RenderAction("webApps");}
    @{Html.RenderAction("footer", "Common");}
    @{Html.RenderAction("scripts", "Common");}
</body>