<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-r">
                    <h2 style="padding-right: 600px;">Web Applications</h2>
                </div>
            </div>
            <!-- 1 -->
            <div class="col-sm-6 col-md-3 text-center">
                <div class="item-img-wrap">
                    <img src="/assets/img/webapp.gif" class="img-responsive" alt="team">
                    <div class="item-img-overlay">

                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block pt20"></div>
            </div>
            <div class="col-sm-6 col-md-9">

                <p> Web Application is a revolutionary invention that made the word very smal!!.Web Application is the first step that lead us towards Ecommerce, it helped us access any information or conclude any business acrounf the globe. The design of the web apllication is most important part; we assist you with a web application which is business critical and help u sail smooth through a challenging and constantly evolving technological changes.</p>
                <p> We can provide a web application with a seamless work flow making them easy to manage and monitor and exclusive business-enhancing features. when it comes to it, brand strategy is business strategy. If your brand is crafted strategically and implemented consistently, if differentiates your market positioning to craete a sustainable competitive adavntage.</p>
            </div>
            <div class="col-md-12">

            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>