<body>
    @{Html.RenderAction("Navbar", "Common");}
    @{ Html.RenderAction("Breadcrumb");}
    @{Html.RenderAction("SoftwareDesign");}
    @{Html.RenderAction("Footer", "Common");}
    @{Html.RenderAction("Scripts", "Common");}
</body>