<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-r">
                    <h2 style="padding-right: 600px;">Software Design</h2>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 text-center">
                <div class="item-img-wrap">
                    <img src="/assets/img/abtus.gif" class="img-responsive" alt="team">
                    <div class="item-img-overlay">
                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block pt20"></div>
            </div>
            <div class="col-sm-6 col-md-8">
                <p>Software design is the most critical part of your computer system. <b>A good system design is the single most important reflection of your organization’s commitment to the users of your system.</b></p>
                <p>A well designed software system will deliver error and worry free data to and from your users while a lacking software system will not only tarnish your reputation, but will be very costly to fix, assuming that is an option. </p>
                <p><em>Having a knowledgeable, efficient software designer is the most cost effective solution for every data based company doing business today.</em></p>
                <p>I have over 20 years of experience designing high end computer systems.  I have lead teams building NASDAQ trading systems for large brokerage houses and I have designed systems for small businesses trying to maximize their exposure on the Internet.</p>
                <p><em><b>Having me build your computer system may be like having Picasso paint your bathroom, but the best engineers bring the best results</b></em>, so <a href="/contact-me/"><u>contact me</u></a> today. </p>
                <p>Let’s do business.</p>
            </div>
            <div class="col-md-12">
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>